/* variables */
$basic-color: #9cc715; /* 基本カラー */
$basic-bg-color: #007daf; /* 基本背景カラー1 */
$basic-bg-color2: #d9ecf3; /* 基本背景カラー2 */

/* basic style */
* {
  box-sizing: border-box;
}
body,
html {
  font-size: 62.5%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo,
    sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
picture {
  display: block;
}
img {
  vertical-align: bottom;
  width: 100%;
}
figure {
  margin: 0;
}

/* basic class */
.flex {
  display: flex;
}
.wrap {
  padding: 0 10%;
  max-width: 1300px;
}
.wrap-vertical {
  padding: 7% 0;
}
